.box{
  width: 100vw;
  height: 100vh;
  position: relative;
 
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: grey;
}
